
@{
    Layout = null;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<h3>MVC Kamp Tablo Örneği</h3>
<br />
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Adı</th>
        <th>Açıklama</th>
        <th>Durum</th>
        <th>Güncelle</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Eğitim</td>
        <td>Açıklama Yapılacak</td>
        <td>True</td>
        <td><button class="btn btn-success">Güncelle</button></td>
    </tr>
    <tr>
        <td>2</td>
        <td>Spor</td>
        <td>Açıklama Yapıldı</td>
        <td>True</td>
        <td><button class="btn btn-success">Güncelle</button></td>
    </tr>
</table>
<button class="btn btn-default" style="background-color:aqua">Yeni Kategori</button>
<button class="btn btn-default" style="background-color:peru">Kategori Listesi</button>
<button class="btn btn-default" style="background-color:red">Kategori Açıklama</button>
